<div class="row justify-content-md-center">
    <div class="col-md-8">
        <img src="../../../assets/flower white.png">
        <label>Backoffice</label>
    </div>

    <div class="col-md-4">

        <form>

            <div class="logo">
                <img src="../../../assets/flower black.png">
                <label>Backoffice</label>
            </div>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>E-mail:</mat-label>
                <input type="email" matInput placeholder="user@example.com">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Senha:</mat-label>
                <input type="password" matInput placeholder="******">
            </mat-form-field>

            <br />

            <button mat-button>Entrar</button>
        </form>

    </div>
</div>